@page
@model OdeToFood2.Pages.Restaurants.ListModel
@{
    ViewData["Title"] = "Restaurants";
}

<h1>@ViewData["Title"]</h1>

<div class="col-3  offset-9">
    <form method="get">
        <div class="form-group">
            <div class="d-flex">
                <input type="search" class="form-control" asp-for="SearchTerm" />
                <span class="input-group-btn">
                    <i class="fas fa-search fa-2x"></i>
                </span>
            </div>

        </div>
    </form>
</div>


<table class="table ">
    @foreach (var restaurant in Model.Restaurants)
    {
    <tr>
        <td>@restaurant.Name</td>
        <td>@restaurant.Location</td>
        <td>@restaurant.Cuisine</td>
        <td>
            <a class="btn btn-lg"
               asp-page="./Detail"
               asp-route-restaurantId="@restaurant.Id">
                <i class="fas fa-search"></i>
            </a>
            @* This is one approach
            <a href="/Restaurants/Detail?restaurantId=@restaurant.Id" class="btn btn-lg">

            </a>*@
        </td>
        <td>
            <a class="btn btn-lg"
               asp-page="./Edit"
               asp-route-restaurantId="@restaurant.Id">
                <i class="fas fa-edit"></i>
            </a>
        </td>
        <td>
            <a class="btn btn-lg"
               asp-page="./Delete"
               asp-route-restaurantId="@restaurant.Id">
                <i class="fas fa-trash-alt"></i>
            </a>
        </td>
    </tr>
    }
</table>


<a asp-page="./Edit" class="btn btn-primary">Add New</a>

@section footer{ 
    Esta es una seccion en el layout
}